<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNGSuite">
    <test name="tests">
        <classes>
            <class name="ClassOneTest"></class>
            <class name="ClassTwoTest"></class>
        </classes>
    </test>
</suite>

